# ===============================================
# メニュー定義
# 
# _XX-YY	GTAG, MENUGTAG, CMD, MENUCMD, KEY1, KEY2, KEY3
# -----------------------------------------------
# XX		-> メニューページ番号
# 			-> 00  ...DEBUG用
# 			-> 1-999 ..通常使用
# YY		-> メニューアイテム番号
# 			-> 1-999
# MENUGTAG	-> メニュー表示
# 			-> 文字制限は、32文字
# CMD		-> GTAG 命令
# 			-> 文字制限は、32文字
# MENUCMD	> メニュー表示
# 			-> 文字制限は、32文字
# KEY		-> ショートカットキー／ツールバー
#			-> CTRL, SHIFT, FUNC / TOOLBAR
#			->  0-9,A-Z, ~,-,+,=
# TB_PAGE	-> 1-6
# TB_FUNC	-> 1-8
# ===============================================
# 入れ子
# _XX-YY	SUBPAGE, any, ページ番号(ZZ), MENUCMD
# ===============================================
# 	Mode		Head
# --------------------
#	Draw		D_
#	Edit		E_
#	Palette		P_
#	Weaving		W_
#	Carpet		C_
#	YarnLace	Y_
#	JacLace		J_
#	Genga		G_
#	Input		I_
#	Output		O_
#	Simulate	S_
#	Soshiki		K_
#	View		V_
#	Model		M_
#	App			A_
# ===============================================
# _X-Y	MENUGTAG	CMD 		MENUCMD 		KEY/TOOLBAR	TB_PAGE	TB_FUNC
# _0-1	デバッグ	A_Inputnum	数字入力
# _0-2	@			A_Inputtext	文字入力

#_1-1	ファイル	M_Add		新規			CTRL+N
#_1-2	@			M_LoadInfo	読込			CTRL+O
#_1-3	@			M_SaveInfo	保存			CTRL+S
# _1-4	@			V_Close		閉じ			CTRL+W
# _1-5	@			M_Rem		全閉じ

_2-1	表示		M_AddView	追加
_2-2	@			SUBPAGE_6	倍率
_2-3	@			SUBPAGE_7	比率
_2-4	@			V_Grid		罫線			CTRL+G
_2-5	@			V_PosOrg	原点			H
_2-6	@			V_PosEnd	終点			E
_2-7	@			A_Toolbar	ツールバー  	TAB

_3-1	画像		SUBPAGE_8	新規読込み
_3-2	@			SUBPAGE_9	追加読込み
_3-3	@			SUBPAGE_10	書出し
_3-4	@			I_SKY_NEW	SKY(.idx)新規読込み
_3-5	@			I_SKY_ADD	SKY(.idx)追加読込み
_3-6	@			O_SKY_ALL	SKY(.idx)書出し

_4-1	特別		A_Cancel	取消			ESCAPE
_4-2	@			A_Quit		終了			CTRL+Q

_5-1	描画		D_Plot		点				TOOLBAR		1	1
_5-2	@			D_FreeLine	フリーライン	TOOLBAR		@	2
_5-3	@			D_Trace		連続線			TOOLBAR		@	3
_5-4	@			D_Box		箱				TOOLBAR		@	4
_5-5	@			D_FillBox	箱塗り			TOOLBAR		@	5
_5-6	@			D_Circle	円				TOOLBAR		@	6
_5-7	@			D_FCircle	円塗り			TOOLBAR		@	7
_5-8	@			D_AllLine	直線			TOOLBAR		@	8
_5-9	@			D_Tri		三角			TOOLBAR		2	1
_5-10	@			D_Rect		四角			TOOLBAR		@	2
_5-11	@			D_Pent		五角			TOOLBAR		@	3
_5-12	@			D_Hexi		六角			TOOLBAR		@	4
_5-13	@			D_Hisi		菱形			TOOLBAR		@	5
_5-14	@			D_nAngles	入力‥			TOOLBAR		@	6
_5-15	@			D_Paint		ペイント		TOOLBAR		@	7
_5-15	@			D_Paint2	ペイント２		TOOLBAR		@	8
_5-16	@			D_Test1		テスト壱		TOOLBAR		3	1
_5-17	@			D_Test2		テスト弐		TOOLBAR		@	2
_5-18	@			D_Test3		テスト参		TOOLBAR		@	3
_5-19	@			D_Test4		テスト四		TOOLBAR		@	4
_5-20	@			D_Test5		テスト伍		TOOLBAR		@	5
_5-21	@			D_Test6		テスト六		TOOLBAR		@	6
_5-22	@			D_Test7		テスト七		TOOLBAR		@	7

_6-1	SUBMENU		V_Scale			入力
_6-2	@			V_Scale_1		倍率１		1
_6-3	@			V_Scale_2		倍率２		2
_6-4	@			V_Scale_3		倍率３		3
_6-5	@			V_Scale_4		倍率４		4
_6-6	@			V_Scale_6		倍率５		5
_6-7	@			V_Scale_6		倍率６		6
_6-8	@			V_Scale_7		倍率７		7
_6-9	@			V_Scale_8		倍率８		8
_6-10	@			V_Scale_9		倍率９		9
_6-11	@			V_Scale_10		倍率10		0
_6-12	@			V_Scale_P		倍率＋		+
_6-13	@			V_Scale_N		倍率−		-
_6-14	@			SUBPAGE_11		テスト

_7-1	SUBMENU		V_Ratio			入力
_7-2	@			V_Ratio_5_2		5:2
_7-3	@			V_Ratio_3_2		3:2
_7-4	@			V_Ratio_1_1		1:1

_8-1	SUBMENU		I_XBM_NEW		XBM
_8-2	@			I_XPM_NEW		XPM
_8-3	@			I_BMP_NEW		BMP
_8-4	@			I_TIF_NEW		TIFF
_8-5	@			I_PNG_NEW		PNG
_8-6	@			I_JPG_NEW		JPEG

_9-1	SUBMENU		I_STD_ADD		標準形式
_9-2	@			I_XBM_ADD		XBM
_9-3	@			I_XPM_ADD		XPM
_9-4	@			I_BMP_ADD		BMP
_9-5	@			I_TIF_ADD		TIFF
_9-6	@			I_PNG_ADD		PNG
_9-7	@			I_JPG_ADD		JPEG
_9-8	@			I_SKY_ADD		SKY


_10-1	SUBMENU		O_XPM_ALL		XPM
_10-2	@			O_BMP_ALL		BMP
_10-3	@			O_TIF_ALL		TIFF
_10-4	@			O_PNG_ALL		PNG
_10-5	@			O_JPG_ALL		JPEG

_11-1	SUBMENU		O_XPM_ALL		XPM11
_11-2	@			O_BMP_ALL		BMP11
_11-3	@			O_TIF_ALL		TIFF11
_11-4	@			O_PNG_ALL		PNG11
_11-5	@			O_JPG_ALL		JPEG11

_12-1	編集		E_Move		移動			TOOLBAR		1	1
_12-2	@			E_Copy		コピー			TOOLBAR		@	2
_12-3	@			E_Reverse	反転			TOOLBAR		@	3
_12-4	@			E_Rotate	回転			TOOLBAR		@	4
_12-5	@			E_Replace	貼付			TOOLBAR		@	5
_12-6	@			E_Repeat	繰返			TOOLBAR		@	6
_12-7	@			E_ExpndTrm	挿入引伸		TOOLBAR		@	7
_12-8	@			E_Scale		サイズ変更		TOOLBAR		@	8
_12-9	@			E_Fuchi		縁取り			TOOLBAR		2	1
_12-10	@			E_Cut		切取り			TOOLBAR		@	2
_12-11	@			E_Connect	接続			TOOLBAR		@	3
_12-12	@			E_PartSave	部分保存		TOOLBAR		@	4

