# ===============================================
# メニュー定義
# 
# _XX-YY	GTAG, MENUGTAG, CMD, MENUCMD, KEY1, KEY2, KEY3
# -----------------------------------------------
# XX		-> メニューページ番号
# 			-> 00  ...DEBUG用
# 			-> 1-999 ..通常使用
# YY		-> メニューアイテム番号
# 			-> 1-999
# MENUGTAG	-> メニュー表示
# 			-> 文字制限は、32文字
# CMD		-> GTAG 命令
# 			-> 文字制限は、32文字
# MENUCMD	> メニュー表示
# 			-> 文字制限は、32文字
# KEY		-> ショートカットキー／ツールバー
#			-> CTRL, SHIFT, FUNC / TOOLBAR
#			->  0-9,A-Z, ~,-,+,=
# TB_PAGE	-> 1-6
# TB_FUNC	-> 1-8
# ===============================================
# 入れ子
# _XX-YY	SUBPAGE, any, ページ番号(ZZ), MENUCMD
# ===============================================
# 	Mode		Head
# --------------------
#	Draw		D_
#	Edit		E_
#	Palette		P_
#	Weaving		W_
#	Carpet		C_
#	YarnLace	Y_
#	JacLace		J_
#	Genga		G_
#	Input		I_
#	Output		O_
#	Simulate	S_
#	Soshiki		K_
#	View		V_
#	Model		M_
#	App			A_
# ===============================================
# _X-Y	MENUGTAG	CMD 		MENUCMD 		KEY/TOOLBAR	TB_PAGE	TB_FUNC
# _0-1	Debug	A_Inputnum	InputNumber
# _0-2	@		A_Inputtext	InputText

_1-1	File		SUBPAGE_8   Input
_1-2    @           SUBPAGE_9   Output
_1-3    @           A_TEST      TEST

_2-1	View		M_AddView	Add
_2-2	@			SUBPAGE_6	Scale
_2-3	@			SUBPAGE_7	Ratio
_2-4	@			V_Grid		Grid            CTRL+g
_2-5	@			V_PosOrg	Origin          h
_2-6	@			V_PosEnd	End             e
_2-7	@			A_Toolbar	ToolMenu        SPACE

_3-1	Draw		D_Plot		Dot				TOOLBAR		1	1
_3-2	@			D_FreeLine	FreeLine		TOOLBAR		@	2
_3-3	@			D_Trace		Trace			TOOLBAR		@	3
_3-4	@			D_Box		Box				TOOLBAR		@	4
_3-5	@			D_FillBox	FillBox 		TOOLBAR		@	5
_3-6	@			D_Circle	Circle			TOOLBAR		@	6
_3-7	@			D_FCircle	FillCircle		TOOLBAR		@	7
_3-8	@			D_AllLine	AllLine 		TOOLBAR		@	8
_3-9	@			D_Tri		Triangle		TOOLBAR		2	1
_3-10	@			D_Rect		Rectangle		TOOLBAR		@	2
_3-11	@			D_Pent		Pentagon		TOOLBAR		@	3
_3-12	@			D_Hexi		Hexagon 		TOOLBAR		@	4
_3-13	@			D_Hisi		Rhombus			TOOLBAR		@	5
_3-14	@			D_nAngles	InputPolygon	TOOLBAR		@	6
_3-15	@			D_Paint		Paint			TOOLBAR		@	7
_3-15	@			D_Paint2	Paint2			TOOLBAR		@	8

_4-1	Edit		E_Move		Move			TOOLBAR		1	1
_4-2	@			E_Reverse	Reverse			TOOLBAR		@	2
_4-3	@			E_Rotate	Rotate			TOOLBAR		@	3
_4-4	@			E_Replace	Replace			TOOLBAR		@	4
_4-5	@			E_Repeat	Repeat			TOOLBAR		@	5
_4-6	@			E_ExpndTrm	ExpandTrim		TOOLBAR		@	6
_4-7	@			E_Scale		Resize			TOOLBAR		@	7
_4-8	@			E_Fuchi		Fringe			TOOLBAR		@	8
_4-9	@			E_Connect	Connect			TOOLBAR		2	1
_4-10	@			E_PartSave	PartSave		TOOLBAR		@	2


_5-1	Special		A_Cancel	Cancel			

_6-1	SUBMENU		V_Scale		Input
_6-2	@			V_Scale_1	1               1
_6-3	@			V_Scale_2	2               2
_6-4	@			V_Scale_3	3               3
_6-5	@			V_Scale_4	4               4
_6-6	@			V_Scale_6	5               5
_6-7	@			V_Scale_6	6               6
_6-8	@			V_Scale_7	7               7
_6-9	@			V_Scale_8	8               8
_6-10	@			V_Scale_9	9               9
_6-11	@			V_Scale_10	10              0
_6-12	@			V_Scale_P	+               +
_6-13	@			V_Scale_N	-               -

_7-1	SUBMENU		V_Ratio		Input
_7-2	@			V_Ratio_5_2	5:2
_7-3	@			V_Ratio_3_2	3:2
_7-4	@			V_Ratio_1_1	1:1

_8-1	SUBMENU		M_LOADCGS2  CGS2

_9-1	SUBMENU		M_SAVECGS2  CGS2


